*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* header selction start*/
.dropdown:hover .dropdown-menu{
    display: block;
}
/* header section end*/

.carousel-indicators [data-bs-target]{
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

